<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
        {{- if .Site.Params.social.github -}}
        <a class="nav-link" href="https://github.com/{{ .Site.Params.social.github }}" target="_blank" rel="noopener">projects</a>
        {{- end -}}
      </div>
    </nav>
    {{ if (isset .Site.Params "sections" ) }}
      <nav class="nav">
        <div class="nav-left">
          {{- range $section, $printable := .Site.Params.sections -}}
            {{- if $printable -}}
              <a class="nav-item" href="{{$section}}">
                <h2 class="title is-5">{{$printable}}</h2>
              </a>
            {{- end -}}
          {{- end -}}
        </div>
      </nav>
    {{ end }}
  </div>
</section>
