<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <ul>
          <li class="logo">
              <a href="{{ .Site.BaseURL }}">|_|0|_|<br>|_|_|0|<br>|0|0|0|<br>
                hex0punk
          </li>
      
        {{- if .Site.Params.social.github -}}
          <li>

            <a class="nav-link" href="https://github.com/{{ .Site.Params.social.github }}" target="_blank" rel="noopener">projects</a>
          </li>
        {{- end -}}
        </ul>
      </div>
    </nav>
    {{ if (isset .Site.Params "sections" ) }}
      <nav class="nav">
        <div class="nav-left">
          {{- range $section, $printable := .Site.Params.sections -}}
            {{- if $printable -}}
              <a class="nav-item" href="{{$section}}">
                <h2 class="title is-5">{{$printable}}</h2>
              </a>
            {{- end -}}
          {{- end -}}
        </div>
      </nav>
    {{ end }}
  </div>
</section>
